$bg-colour-primary: #F6F6F6;
$bg-colour-secondaray: #EAEAEA;
$primary-colour: #9356DC;
$gradient-btn-colour: #FF79DA;
$icon-primary-color: #7E7E7E;
$new-icon-bg-color: #99E2D0;
$new-icon-font-color: #008766;
$footer-bg-color: #353535;