$bg-colour-primary: #F6F6F6;
$bg-colour-secondaray: #EAEAEA;

$primary-colour: #9356DC;
$primary-light-colour: #ff79d9d7;
$secondary-color: #99E2D0;
$secondary-dark-color: #008766;

$icon-primary-color: #7E7E7E;

$footer-bg-color: #353535;