.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: fadeOut 2s forwards;
}
.loader__circle {
  border: 16px solid #F6F6F6;
  border-top: 16px solid #9356DC;
  border-bottom: 16px solid #9356DC;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
header {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  background-color: white;
  height: 63px;
  z-index: 2;
}
.navbar--menu {
  box-shadow: none;
  position: relative;
}
.navbar--menu__link {
  position: absolute;
  left: 17px;
}
@media (min-width: 1024px) {
  .navbar {
    height: 96px;
  }
}
.navbar__logo {
  display: block;
  height: 28px;
}
@media (min-width: 1024px) {
  .navbar__logo {
    height: 34px;
  }
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  background-color: #EAEAEA;
  height: 50px;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.location__input {
  border: none;
  outline: none;
  background-color: #EAEAEA;
  font-weight: 500;
  font-size: 16px;
  width: 125px;
}
.location__input::-moz-placeholder {
  color: black;
  opacity: 1;
}
.location__input::placeholder {
  color: black;
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  row-gap: 16px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 30px;
    height: 114px;
  }
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
@media (min-width: 1024px) {
  .footer__title {
    margin-right: 40px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 7px;
}
@media (min-width: 1024px) {
  .footer__list {
    flex-direction: row;
    margin-right: 90px;
  }
  .footer__list__mentions {
    margin-right: 17px;
  }
  .footer__list__partner {
    margin-right: 45px;
  }
  .footer__list__restaurant {
    margin-right: 10px;
  }
}
.footer__list__restaurant, .footer__list__partner {
  font-weight: 500;
}
.footer__list i {
  width: 22px;
  font-size: 13px;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px 57px 20px;
}
@media (min-width: 1024px) {
  .explore {
    padding: 30px 20px;
  }
}
.explore h1 {
  margin: 0 30px;
}
@media (min-width: 1024px) {
  .explore h1 {
    font-size: 40px;
  }
}
.explore p {
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .explore p {
    margin-top: 34px;
  }
}
.explore a {
  margin-top: 27px;
}
@media (min-width: 1024px) {
  .explore a {
    margin-top: 30px;
  }
}
.explore__btn {
  border: none;
  outline: none;
  background: linear-gradient(to bottom, rgba(255, 121, 217, 0.8431372549), #9356DC);
  height: 50px;
  width: 218px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border-radius: 50px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s, box-shadow 0.5s;
  cursor: pointer;
  cursor: pointer;
}
.explore__btn:hover {
  opacity: 0.8;
  box-shadow: 0 5px 12px 3px rgba(0, 0, 0, 0.2);
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 50px 20px 68px 20px;
}
@media (min-width: 1024px) {
  .step {
    align-items: center;
    padding-bottom: 50px;
  }
}
.step__box {
  width: 100%;
}
@media (min-width: 1080px) {
  .step__box {
    width: 1080px;
  }
}
.step__box h2 {
  margin-bottom: 26px;
}
.step__box__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 24.92px;
  width: 100%;
}
.step__box__container__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 12px;
  height: 72.38px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0 8px 9px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
  .step__box__container__card {
    width: 335px;
  }
}
.step__box__container__card__number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: 14.18px;
  color: white;
  margin-left: -12px;
}
.step__box__container__card__icon {
  margin-left: 21.98px;
  color: #7E7E7E;
}
.step__box__container__card__icon--primary-color {
  color: #9356DC;
}
.step__box__container__card__text {
  margin-left: 27px;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .step__box__container {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 54px 20px 66px 20px;
}
@media (min-width: 1024px) {
  .restaurants {
    align-items: center;
    padding: 30px 20px;
  }
}
.restaurants__box {
  width: 100%;
}
@media (min-width: 1080px) {
  .restaurants__box {
    width: 1080px;
  }
}
.restaurants__box h2 {
  margin-bottom: 26px;
}
.restaurants__box__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 18px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.restaurants__box__container__card, .restaurants__box__container a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 251px;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurants__box__container__card, .restaurants__box__container a {
    flex: 1 1 40%;
  }
}
.restaurants__box__container__card__top, .restaurants__box__container a__top {
  height: 174px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 15px 15px 0 0;
}
.restaurants__box__container__card__top img, .restaurants__box__container a__top img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.restaurants__box__container__card__top__new, .restaurants__box__container a__top__new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 12px;
  top: 12px;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: bold;
  color: #008766;
  border-radius: 2px;
}
.restaurants__box__container__card__top__new--hide, .restaurants__box__container a__top__new--hide {
  display: none;
}
.restaurants__box__container__card__bottom, .restaurants__box__container a__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 13px;
  border-radius: 0 0 15px 15px;
  background-color: white;
  position: relative;
}
.restaurants__box__container__card__bottom__content h3, .restaurants__box__container a__bottom__content h3 {
  margin-bottom: 5px;
}
.restaurants__box__container__card__bottom__content p, .restaurants__box__container a__bottom__content p {
  font-size: 17px;
  font-weight: 300;
}
.restaurants__box__container__card__bottom__fav-icon, .restaurants__box__container a__bottom__fav-icon {
  position: absolute;
  right: 25px;
  bottom: 33px;
}
.restaurants__box__container__card__bottom__fav-icon i, .restaurants__box__container a__bottom__fav-icon i {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 22px;
  transition: opacity 0.2s ease;
}
.restaurants__box__container__card__bottom__fav-icon .fav-icon--hover, .restaurants__box__container a__bottom__fav-icon .fav-icon--hover {
  background: linear-gradient(to top, rgba(255, 121, 217, 0.8431372549), #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurants__box__container__card__bottom__fav-icon:hover .fav-icon--default, .restaurants__box__container a__bottom__fav-icon:hover .fav-icon--default {
  opacity: 0;
}
.restaurants__box__container__card__bottom__fav-icon:hover .fav-icon--hover, .restaurants__box__container a__bottom__fav-icon:hover .fav-icon--hover {
  opacity: 1;
}
@media (min-width: 1024px) {
  .restaurants__box__container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
  }
}

.menu {
  background-color: white;
}
@media (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.menu img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
  display: block;
}
@media (min-width: 1024px) {
  .menu img {
    height: 383px;
  }
}
.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  margin-top: -55px;
  padding: 32px 13px 40px 13px;
  row-gap: 40px;
}
@media (min-width: 1024px) {
  .menu__container {
    width: 1055px;
    margin-top: -40px;
    padding: 51px 210px 40px 210px;
  }
}
.menu__container__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3px;
  width: 100%;
}
@media (min-width: 1024px) {
  .menu__container__title {
    width: auto;
  }
}
.menu__container__title h1 {
  font-size: 28px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
}
.menu__container__title__fav-icon {
  position: relative;
  right: 30px;
  top: 10px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .menu__container__title__fav-icon {
    right: 0;
    margin-left: 48px;
  }
}
.menu__container__title__fav-icon i {
  font-size: 22px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.menu__container__title__fav-icon .fav-icon--hover {
  background: linear-gradient(to top, rgba(255, 121, 217, 0.8431372549), #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.menu__container__title__fav-icon:hover .fav-icon--default {
  opacity: 0;
}
.menu__container__title__fav-icon:hover .fav-icon--hover {
  opacity: 1;
}
.menu__container__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 12px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.menu__container__list h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.menu__container__list h2 span {
  position: relative;
}
.menu__container__list h2 span::after {
  position: absolute;
  border-bottom: 3px solid #99E2D0;
  width: 100%;
  display: block;
  content: "";
  bottom: -8px;
}
.menu__container__list__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  width: 100%;
  padding: 12px 15px;
  border-radius: 15.04px;
  box-shadow: 0 8px 9px rgba(0, 0, 0, 0.05);
}
.menu__container__list__card__content h3 {
  font-size: 18px;
  font-weight: 500;
}
.menu__container__list__card__content p {
  font-size: 15.04px;
  font-weight: 300;
  margin-top: 5px;
}
.menu__container__list__card__price {
  font-size: 15.04px;
  font-weight: 700;
}
.menu__container__btn {
  border: none;
  outline: none;
  background: linear-gradient(to bottom, rgba(255, 121, 217, 0.8431372549), #9356DC);
  height: 50px;
  width: 186px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border-radius: 50px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.menu__container__btn:hover {
  opacity: 0.8;
  box-shadow: 0 5px 12px 3px rgba(0, 0, 0, 0.2);
}
.menu__container .list1 {
  animation-delay: 0.5s;
}
.menu__container .list2 {
  animation-delay: 1s;
}
.menu__container .list3 {
  animation-delay: 1.5s;
}
@keyframes fadeIn {
  to {
    opacity: 1; /* Rend visible */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  list-style-type: none;
}

body {
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 18px;
}/*# sourceMappingURL=main.css.map */