.menu {
     background-color: white;
     @media (min-width: 1024px){
          @include flex-container (flex, column, flex-start, center);
     }

     & img {
          object-fit: cover;
          height: 275px;
          width: 100%;
          display: block;

          @media (min-width: 1024px) {
               height: 383px;
          }
     }
     
     &__container {
          @include flex-container (flex, column, flex-start, center);
          position: relative;
          border-radius: 40px 40px 0 0;
          background-color: $bg-colour-primary;
          margin-top: -55px;
          padding: 32px 13px 40px 13px;
          row-gap: 40px;

          @media (min-width: 1024px) {
               width: 1055px;
               margin-top: -40px;
               padding: 51px 210px 40px 210px;
          }

          &__title {
               @include flex-container (flex, row, space-between, center);
               margin: 0 3px;
               width: 100%;

               @media (min-width:1024px) {
                    width: auto;
               }

               & h1{
                    font-size: 28px;
                    font-family: 'Shrikhand', sans-serif;
                    font-weight: 500;
               }

               &__fav-icon {
                    position: relative;
                    right: 30px;
                    top: 10px;
                    cursor: pointer;

                    @media (min-width: 1024px) {
                         right: 0;
                         margin-left: 48px;
                    }
                    
                    & i {
                         font-size: 22px;
                         position: absolute;
                         right: 0;
                         bottom: 0;
                    }

                    .fav-icon--hover {
                         background: linear-gradient(to top, $gradient-btn-colour, $primary-colour);
                         -webkit-background-clip: text;
                         background-clip: text;
                         -webkit-text-fill-color: transparent;
                         opacity: 0;
                    }
         
                    &:hover .fav-icon--default {
                         opacity: 0;
                    }
         
                    &:hover .fav-icon--hover {
                         opacity: 1;
                    }
               }
          }

          &__list {
               @include flex-container (flex, column, flex-start, flex-start);
               width: 100%;
               row-gap: 12px;
               opacity: 0;
               animation: fadeIn 1s forwards;

               & h2 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 8px;

                    
                    & span {
                         position: relative;

                         &::after {
                              position: absolute;
                              border-bottom: 3px solid #99E2D0;
                              width: 100%;
                              display: block;
                              content: '';
                              bottom: -8px;
                         }
                    }
               }
               
               &__card {
                    @include flex-container (flex, row, space-between, center);
                    background-color: white;
                    width: 100%;
                    height: 69px;
                    padding: 12px 15px;
                    border-radius: 15.04px;
                    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.05);
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;

                    &__content {
                         text-overflow: ellipsis;
                         overflow: hidden;
                         white-space: nowrap;

                         & h3 {
                              font-size: 18px;
                              font-weight: 500;
                         }
                         
                         & p {
                              font-size: 15.04px;
                              font-weight: 300;
                              margin-top: 5px;
                         }
                    }

                    &__price {
                         align-self: flex-end;
                         font-size: 15.04px;
                         font-weight: 700;
                         transition: transform 0.3s ease;
                    }

                    &__check {
                         @include flex-container (flex, row, center, center);
                         width: 59px;
                         height: 69px;
                         background-color: #99E2D0;
                         border-radius: 0 15.04px 15.04px 0;
                         position: absolute;
                         right: 0;
                         bottom: 0;
                         top: 0;
                         transform: translateX(100%);
                         transition: transform 0.3s ease;

                         & .fa-circle-check {
                              font-size: 20px;
                              color: white;
                         }
                    }

                    &:hover &__price {
                         transform: translateX(-59px);
                    }

                    &:hover &__check {
                         transform: translateX(0);
                    }
               }
          }
          
          &__btn {
               @include btn(186px);
          }

          .list1 {
               animation-delay: 0.5s;
          }
          .list2 {
               animation-delay: 1s;
          }
          .list3 {
               animation-delay: 1.5s;
          }

          @keyframes fadeIn {
               to {
                   opacity: 1;
               }
           }
     }
}