.step {
    @include flex-container(flex, column, flex-start, flex-start);
    background-color: white;
    padding: 50px 20px 68px 20px;

    @media (min-width: 1024px) {
        align-items: center;
        padding-bottom: 50px;
    }

    &__box {
        width: 100%;

        @media (min-width: 1080px) {
            width: 1080px;
        }

        & h2 {
            margin-bottom: 26px;
        }

        &__container {
            @include flex-container(flex, column, flex-start, center);
            row-gap: 24.92px;
            width: 100%;

            &__card {
                @include flex-container(flex, row, flex-start, center);
                margin: 0 0 0 12px;
                height: 72.38px;
                width: 100%;
                background-color: $bg-colour-primary;
                border-radius: 20px;
                box-shadow: 0 8px 9px rgba(0, 0, 0, 0.1);

                @media (min-width: 1024px) {
                    width: 335px;
                }

                &__number {
                    @include flex-container(flex, row, center, center);
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    background-color: $primary-colour;
                    font-size: 14.18px;
                    color: white;
                    margin-left: -12px;
                }

                &__icon {
                    margin-left: 21.98px;
                    color: $icon-primary-color;

                    &--primary-color {
                        color: $primary-colour;
                    }
                }

                &__text {
                    margin-left: 27px;
                    font-weight: bold;
                }
            }

            @media (min-width: 1024px) {
                flex-direction: row;
                justify-content: center;
                column-gap: 24px;
            }
        }
    }
}