.step {
    @include flex-container(flex, column, flex-start, flex-start);
    background-color: white;
    padding: 50px 20px 68px 20px;

    @media (min-width: 1024px) {
        align-items: center;
        padding-bottom: 50px;
    }

    &__box {
        width: 100%;

        @media (min-width: 1080px) {
            width: 1080px;
        }

        & h2 {
            margin-bottom: 26px;
        }
        &__container {
            @include flex-container(flex, column, flex-start, center);
            @include step-card;
            row-gap: 24.92px;
            width: 100%;

            @media (min-width: 1024px) {
                flex-direction: row;
                justify-content: center;
                column-gap: 24px;
            }
            
            
        }
    }
    
    
    
}